<section class="wlt-page-not-found">

  <app-header
    [hideControls]="true">
  </app-header>

  <div class="wlt-page-not-found-position">
    <div class="wlt-page-not-found-bg">
      <div class="wlt-page-not-found-text">
        <h3 class="wlt-page-not-found-text-title">
          Page not found
        </h3>
        <button mat-button
                class="wlt-page-not-found-btn">
<!--                (click)="openSignUpWindow()">-->
          Please, go to homepage
        </button>
      </div>
    </div>

  </div>
</section>
