<section class="wlt-navigation">
  <app-small-menu
    [(activePage)]="activePage"
    (activePageChange)="moveToPage($event)"
    (showBigMenu)="showBigMenuEvent()">
  </app-small-menu>
</section>

<section class="wlt-main">
  <app-header
    [(activePage)]="activePage"
    [userName]="currentUser?.first_name"
    (activePageChange)="moveToPage($event)">
  </app-header>

  <app-report
    *ngIf="activePage === navigationEnum.report"
    [currentUser]="currentUser">
  </app-report>

  <app-profits
    *ngIf="activePage === navigationEnum.profits"
    [currentUser]="currentUser">
  </app-profits>

  <app-spending
    *ngIf="activePage === navigationEnum.spending"
    [currentUser]="currentUser">
  </app-spending>

  <app-profile
    *ngIf="activePage === navigationEnum.profile"
    [currentUser]="currentUser">
  </app-profile>

</section>
