<section class="wlt-profile">
  <div class="wlt-profile-position">
    <h3 class="wlt-profile-title">
      Your profile
    </h3>
    <div class="wlt-profile-info">
      <p class="wlt-profile-info-item">
        Your first name:
        <span class="wlt-profile-info-name">
          {{currentUser.first_name}}
        </span>
        <button mat-stroked-button
                class="change wlt-profile-btn"
                (click)="openChangeFirstName('Your first name')">
          <span class="material-icons">
            create
          </span>
        </button>
      </p>
      <p class="wlt-profile-info-item">
        Your last name:
        <span class="wlt-profile-info-name">
          {{currentUser.last_name}}
        </span>
        <button mat-stroked-button
                class="change wlt-profile-btn"
                (click)="openChangeLastName('Your last name')">
          <span class="material-icons">
            create
          </span>
        </button>
      </p>
      <p class="wlt-profile-info-item">
        Your email:
        <span class="wlt-profile-info-name">
          {{currentUser.email}}
        </span>
      </p>
    </div>

  </div>
</section>
