@import "src/assets/styles/main/colors";

.wlt-profile {
  margin-top: 40px;

  &-position {
    width: 800px;
    height: 100vh;
    background-color: $green1;
    margin: 0 auto;

  }
  &-title {
    padding-top: 30px;
      font-size: 40px;
      font-weight: 100;
      text-align: center;
  }

  &-info {
    margin-left: 30px;
    &-item {
      font-size: 16px;
      font-weight: 100;
      color: $grey1;
    }

    &-name {
      margin-left: 10px;
      margin-right: 30px;
      font-size: 23px;
    }
  }

  &-btn {

    &:hover {
      background: $grey1-lite;

      & .mat-button-wrapper {
        color: $green1;
      }
    }

    & .material-icons {
      padding: 5px;
      font-size: 18px;
    }

  }
}
