@import "./assets/styles/main/colors";
@import "./assets/styles/main/theme";
@import "./src/app/login-page/components/signin-component/signin.component";
@import "./src/app/login-page/components/signup-component/signup.component";
@import "./src/app/home-page/components/main-content-component/spending-component/spending.component";
@import "./src/app/home-page/components/main-content-component/spending-component/components/dialog-popup.component.scss";
@import "./src/app/home-page/components/main-content-component/profits-component/profits.component";

html, body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  color: $grey1;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.wlt-home-main-content {
  display: flex;
}

.mat-button-wrapper {
  color: $white;
  font-weight: 100;
  transition: 0.3s;

  &:hover {
    color: $green2;
  }

  &:active {
    color: $green3;
  }
}
