<div class="wlt-dialog-popup">

  <!--  SPENDING POPUP-->
  <ng-container *ngIf="data.isSpending">
    <h1 class="wlt-dialog-popup-title">
      {{data.type}}
    </h1>

    <form class="wlt-dialog-popup-form">
      <mat-form-field appearance="fill">
        <mat-label>
          Amount
        </mat-label>

        <input matInput
               type="number"
               class="example-right-align"
               step="0.10"
               min="0"
               placeholder="0,00"
               #spendingValue>

        <span matPrefix>
          $&nbsp;
        </span>
      </mat-form-field>

      <mat-form-field class="example-full-width"
                      appearance="fill">
        <mat-label>
          Leave a comment
        </mat-label>

        <textarea matInput #spendingDescription></textarea>
      </mat-form-field>

      <div class="wlt-dialog-popup-control">
        <button mat-stroked-button
                class="control-btn add-btn"
                [mat-dialog-close]="[spendingValue.value, spendingDescription.value]">
          Add
        </button>

        <button mat-stroked-button
                class="control-btn"
                (click)="closePopup()">
          Cancel
        </button>
      </div>
    </form>
  </ng-container>


  <!--  ADD SPENDING CATEGORY POPUP-->
  <ng-container *ngIf="data.isNewSpending && data.spendingIcons">
    <h1 class="wlt-dialog-popup-title">
      Add new spending category
    </h1>

    <div class="example-container">
      <form class="wlt-dialog-popup-form">
        <mat-form-field class="new-spending-category">
          <mat-select placeholder="Select icon"
                      [(value)]="selected">
            <mat-select-trigger>
              <mat-icon>
                {{selected}}
              </mat-icon>
            </mat-select-trigger>

            <mat-option *ngFor="let icon of data.spendingIcons[0].data"
                        [value]="icon.icon">
              <i class="material-icons visibility"
                 matSuffix>
                {{icon.icon}}
              </i>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="new-spending-category"
                        appearance="fill">
          <input matInput
                 placeholder="Enter your new first name"
                 #newSpendingName>
        </mat-form-field>

        <div class="wlt-dialog-popup-control">
          <button mat-stroked-button
                  class="control-btn add-btn"
                  [mat-dialog-close]="[newSpendingName.value, selected]">
            Save
          </button>

          <button mat-stroked-button
                  class="control-btn"
                  (click)="closePopup()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </ng-container>


  <!--  PROFITS POPUP-->
  <ng-container *ngIf="data.profits">
    <h1 class="wlt-dialog-popup-title">
      Add profit
    </h1>

    <form class="wlt-dialog-popup-form">
      <mat-form-field>
        <mat-select placeholder="Select your profit, please"
                    [(value)]="selected">
          <mat-select-trigger>
            {{selected}}
          </mat-select-trigger>

          <mat-option *ngFor="let profit of data.profits[0].data"
                      [value]="profit.name">
            {{profit.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>
          Amount
        </mat-label>

        <input matInput
               type="number"
               class="example-right-align"
               step="0.10"
               min="0"
               placeholder="0,00"
               #profitValue>

        <span matPrefix>
          $&nbsp;
        </span>
      </mat-form-field>

      <mat-form-field class="example-full-width"
                      appearance="fill">
        <mat-label>Leave a comment</mat-label>

        <textarea matInput #profitDescription></textarea>
      </mat-form-field>

      <div class="wlt-dialog-popup-control">
        <button mat-stroked-button
                class="control-btn add-btn"
                [mat-dialog-close]="[profitValue.value, selected, profitDescription.value]">
          Save
        </button>

        <button mat-stroked-button
                class="control-btn"
                (click)="closePopup()">
          Cancel
        </button>
      </div>
    </form>
  </ng-container>


  <!--  PROFILE POPUP-->
  <ng-container *ngIf="data.isProfile">
    <h1 class="wlt-dialog-popup-title">
      {{data?.profileItem}}
    </h1>

    <form class="wlt-dialog-popup-form">
      <mat-form-field appearance="fill">
        <input matInput
               placeholder="Enter your new first name"
               [value]="data?.profileValue"
               #profileValue>
      </mat-form-field>

      <div class="wlt-dialog-popup-control">
        <button mat-stroked-button
                class="control-btn add-btn"
                [mat-dialog-close]="[profileValue.value, data?.profileItem]">
          Save
        </button>

        <button mat-stroked-button
                class="control-btn"
                (click)="closePopup()">
          Cancel
        </button>
      </div>
    </form>
  </ng-container>
</div>
