<div class="wlt-dialog-popup">
  <h1 class="wlt-dialog-popup-title">Spending name</h1>
  <form class="wlt-dialog-popup-form">
    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput type="number" class="example-right-align" step="0.10" min="0" placeholder="0,00">
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. Oranges 2kg..."></textarea>
    </mat-form-field>
  </form>
</div>
