@import "src/assets/styles/main/colors";

.wlt-dialog-popup {
  &-title {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
  }

  &-form {
    display: flex;
    flex-wrap: wrap;

    .mat-form-field {
      flex: 0 0 100%;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: rgba(0,0,0,0);
    }
    .mat-form-field-underline {
      color: $white;
    }

    .spending-btn {
      transition: 0.3s;

      &.add-btn {
        margin-right: 10px;
      }

      .mat-button-wrapper {
        color: $grey1;
      }

      &:hover {
        background: $grey1-lite;

        .mat-button-wrapper {
          color: $green1;
        }
      }
    }

    .control-btn {
      transition: 0.3s;

      &.add-btn {
        margin-right: 10px;
      }

      .mat-button-wrapper {
        color: $grey1;
      }

      &:hover {
        background: $grey1-lite;

        .mat-button-wrapper {
          color: $green1;
        }
      }
    }
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  & .new-spending-category {
    flex: 0 0 100%;
    width: 100%;
  }
}
