<mat-drawer-container class="home-page">
  <mat-drawer-content>
    <app-main-content
      *ngIf="currentUser"
      [currentUser]="currentUser"
      [activePage]="activePage"
      (activePageChange)="moveToPage($event)"
      (showBigMenu)="drawer.toggle()">
    </app-main-content>
  </mat-drawer-content>

  <mat-drawer #drawer
              class="home-page-sidebar"
              [mode]="'over'"
              position="start">
    <app-bigMenu
      [@enterAnimation]
      [activePage]="activePage"
      (activePageChange)="moveToPage($event)">
    </app-bigMenu>
  </mat-drawer>
</mat-drawer-container>
