<section class="wlt-bigMenu">
  <div class="wlt-bigMenu-position">
    <div class="wlt-bigMenu-title">
      <button (click)="moveToPage(navigationEnum.report)"
              [class.active]="activePage === navigationEnum.report">
        <mat-icon>remove_circle_outline</mat-icon>
        Add spending
      </button>

      <button (click)="moveToPage(navigationEnum.profits)"
              [class.active]="activePage === navigationEnum.profits">
        <mat-icon>add_circle_outline</mat-icon>
        Add profit
      </button>

      <button (click)="moveToPage(navigationEnum.spending)"
              [class.active]="activePage === navigationEnum.spending">
        <mat-icon>remove_circle_outline</mat-icon>
        Add spending
      </button>

      <button (click)="openReportWindow()">
        <mat-icon>library_books</mat-icon>
        See report
      </button>
    </div>
  </div>
</section>

