$grey1: #01101c;
$grey1-lite: #01273f;
$grey2: #161a23;
$grey3: #536e7a;
$grey4: #73777b;

$green1: #00a16f;
$green2: #00CD93;
$green3: #006945;
$green4: #001C13;
$green5: #F1FCF6;

$brown1: #DEB887;

$yellow1: #EAE784;

$white: #F1FCF6;
$white-lite: rgba(255, 255, 255, .8);
$white-disabled: rgba(255, 255, 255, .4);
$red: red;
