@import './colors';
@import '~@angular/material/theming';
@include mat-core();

$my-scheme: (
  500: rgba(255, 255, 255, 0.4),
  contrast: (
  )
);

$my-app-primary: mat-palette($my-scheme);
$my-app-accent: mat-palette($mat-teal);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

