<section class="wlt-signin">
  <div class="wlt-signin-position">
    <h3 class="wlt-signin-title">
      Login to your account
    </h3>

    <form class="wlt-signin-form">
      <mat-form-field class="example-full-width">
        <mat-label class="wlt-signin-form-label">
          Email
        </mat-label>

        <input matInput placeholder="Your email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label class="wlt-signin-form-label">
          Password
        </mat-label>

        <input matInput placeholder="Password">
      </mat-form-field>
    </form>
  </div>
</section>
