<section class="wlt-signin">
  <div class="wlt-signin-position">
    <h3 class="wlt-signin-title">
      Login to your account
    </h3>

    <form class="wlt-signin-form"
          [formGroup]="signInForm">
      <mat-form-field class="example-full-width">
        <mat-label class="wlt-signin-form-label">
          Email
        </mat-label>

        <input matInput type="email" placeholder="Your email"
               [formControlName]="userEnum.email">

        <mat-error
          *ngIf="signInForm.controls[userEnum.email].hasError('email') &&
          !signInForm.controls[userEnum.email].hasError('required')">
          Please enter valid email
        </mat-error>

        <mat-error
          *ngIf="signInForm.controls[userEnum.email].hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label class="wlt-signin-form-label">
          Password
        </mat-label>

        <input matInput type="password" placeholder="Password"
               [formControlName]="userEnum.password">

        <mat-error
          *ngIf="signInForm.controls[userEnum.password].hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <div class="wlt-signin-controls">
        <button mat-stroked-button
                class="wlt-signin-form-submit"
                (click)="getUser()">
          Login
        </button>

        <div class="wlt-signin-registration">
          <p class="wlt-signin-registration-text">
            or
            <span>
          <button mat-button
                  class="wlt-signin-form-submit-create"
                  (click)="openSignUpWindow()">
            Create Account
          </button>
        </span>
          </p>
        </div>
      </div>
    </form>
  </div>
</section>
