<section class="wlt-signin">
  <div class="wlt-signin-position">
    <h3 class="wlt-signin-title">
      Login to your account
    </h3>

    <form class="wlt-signin-form">
      <mat-form-field class="example-full-width">
        <mat-label class="wlt-signin-form-label">
          Email
        </mat-label>

        <input matInput placeholder="Your email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label class="wlt-signin-form-label">
          Password
        </mat-label>

        <input matInput placeholder="Password">
      </mat-form-field>

      <div class="wlt-signin-controls">
        <button mat-stroked-button
                type="submit"
                class="wlt-signin-form-submit">
          Login
        </button>

        <div class="wlt-signin-registration">
          <p class="wlt-signin-registration-text">
            or
            <span>
          <button mat-button>
            Create Account
          </button>
        </span>
          </p>
        </div>
      </div>
    </form>
  </div>
</section>
