<section class="wlt-welcome">
  <div class="wlt-welcome-position">
    <div class="wlt-welcome-info">
      <div class="wlt-welcome__logo">
        <div class="wlt-welcome__logo-item">
          <mat-icon>multiline_chart</mat-icon>
        </div>

        <div class="wlt-welcome__logo-company">
          <p class="wlt-welcome__logo-company-name">
            Wallet
            <span class="wlt-welcome__logo-company-name-desc">
          Application
        </span>
          </p>
        </div>
      </div>

      <div class="wlt-welcome__main">
        <div class="wlt-welcome__main-title">
          <h2 class="wlt-welcome__main-title-value">
            Welcome
          </h2>
        </div>

        <div class="wlt-welcome__main-subtitle">
          <p class="wlt-welcome__main-subtitle-value">
            Login to your account here
          </p>
        </div>

        <div class="wlt-welcome__main-description">
          <p class="wlt-welcome__main-description-value">
            Log in to your account or create a new account in the system.
          </p>
        </div>

        <div class="wlt-welcome__main-login">
          <button mat-stroked-button
                  class="wlt-welcome__main-login-btn"
                  (click)="openRegistrationWindow()">
            Sign In
          </button>
        </div>
      </div>
    </div>

    <div class="wlt-welcome-bg">
    </div>
  </div>
</section>
