<section class="wlt-spending">
  <div class="wlt-spending-title">
    {{spendingValue}}
    <br>
    {{spendingDescription}}
    <div class="wlt-spending-title-category">

      <ng-container *ngFor="let spending of currentUser.spending">
        <button mat-stroked-button
                class="food wlt-spending-title-category-item"
                (click)="openDialog(spending.type)">
          <span class="material-icons">
            {{spending.icon}}
          </span>

          <p class="text-icon">
            {{spending.name}}
          </p>
        </button>
      </ng-container>

      <button mat-stroked-button
              class="add wlt-spending-title-category-item">
          <span class="material-icons">
            add
          </span>
        <p class="text-icon">Add your category</p>
      </button>
    </div>
  </div>
</section>
