@import "src/assets/styles/main/colors";

.wlt-spending {
  &-title {
    &-category {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 20px auto 40px;
      width: 100%;
      max-width: 600px;

      &-item {
        flex: 0 0 33.333%;
        width: 33.333%;
        height: 150px;
        transition: 0.3s;

        &.add-btn {
          flex: 0 0 100%;
          width: 100%;
          margin-top: 30px;
        }

        &:hover {
          background: $grey1-lite;

          & .mat-button-wrapper {
            color: $green1;
          }

          & .text-icon {
            color: $green1;
          }
        }

        & .mat-button-wrapper {
          color: $grey1;
        }

        & .material-icons {
          display: block;
          font-size: 60px;
        }

        & .text-icon {
          margin: 14px 0 0;
          color: black;
          letter-spacing: 1px;
          white-space: pre-wrap;
        }

        & .example-container .mat-form-field + .mat-form-field {
          margin-left: 8px;
        }

        & .example-right-align {
          text-align: right;
        }

        & input.example-right-align::-webkit-outer-spin-button,
        & input.example-right-align::-webkit-inner-spin-button {
          display: none;
        }

        & input.example-right-align {
          -moz-appearance: textfield;
        }

        & .mat-form-field-prefix span {
          font-size: 20px;
        }
      }

      & .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: rgba(0,0,0,0);
      }

      .mat-form-field-underline {
        color: white;
      }

      .mat-form-field-ripple {
        background-color: $white-lite;
      }
    }
  }

  &-history {
    &__title {
      text-align: center;
      text-transform: uppercase;
      background: $grey1-lite;
      color: $white;
      padding: 10px;

      &-value {
        font-weight: 100;
        font-size: 22px;
      }
    }

    .mat-table {
      margin: 0 auto;
      width: 100%;
    }

    &__item {
      width: 97%;
      margin: 70px auto;

      &-title {
        font-weight: 100;
        text-transform: capitalize;
      }

      .mat-table {
        .mat-header-cell, .mat-cell {
          width: 30%;
          text-align: center;
        }

        .mat-header-cell {
          text-transform: uppercase;
        }
      }
    }
  }
}
