<section class="wlt-spending">
  <div class="wlt-spending-title">
    <div class="wlt-spending-title-category">

      <button class="food">
        <span class="material-icons">
          local_grocery_store
        </span>
      </button>

      <button class="спорт">
        <span class="material-icons">
          sports_handball
        </span>
      </button>

      <button class="home">
        <span class="material-icons">
          house
        </span>
      </button>

    </div>
    <div>

      <button class="restauran">
        <span class="material-icons">
          restaurant
        </span>
      </button>

      <button class="clothes">
        <span class="material-icons">
          restaurant
        </span>
      </button>

      <button class="child">
        <span class="material-icons">
          child_care
        </span>
      </button>

    </div>
    <div>

      <button class="traveling">
        <span class="material-icons">
          beach_access
        </span>
      </button>

      <button class="car">
        <span class="material-icons">
          drive_eta
        </span>
      </button>

      <button class="pharmacy">
        <span class="material-icons">
          local_hospital
        </span>
      </button>

    </div>
    <div>

      <button class="connection">
        <span class="material-icons">
          phone_in_talk
        </span>
      </button>

      <button class="transport">
        <span class="material-icons">
          departure_board
        </span>
      </button>

      <button class="fastfood">
        <span class="material-icons">
          fastfood
        </span>
      </button>
    </div>

    <div>

      <button class="shopping">
        <span class="material-icons">
          store_mall_directory
        </span>
    </button>

      <button class="shopping">
        <span class="material-icons">
          store_mall_directory
        </span>
      </button>

      <button class="shopping">
        <span class="material-icons">
          store_mall_directory
        </span>
      </button>

      <button class="add">
        <span class="material-icons">
          add
        </span>
      </button>
    </div>
  </div>
</section>
