<mat-drawer-container class="login-page">
  <mat-drawer-content>
    <app-welcome
      (showRegistration)="drawer.toggle()">
    </app-welcome>
  </mat-drawer-content>

  <mat-drawer #drawer
              class="login-page-sidebar"
              [mode]="'over'"
              position="end"
              (closed)="showSignUp = false">
    <app-sign-in
      *ngIf="!showSignUp"
      [(showSignUp)]="showSignUp">
    </app-sign-in>

    <app-sign-up
      *ngIf="showSignUp"
      [@enterAnimation]
      [(showSignUp)]="showSignUp">
    </app-sign-up>
  </mat-drawer>
</mat-drawer-container>
