<section class="wlt-profits">
  <div class="wlt-profits-position">
    <div>
<!--      <mat-form-field>-->
<!--        <mat-label>Add a profit, please</mat-label>-->
<!--        <mat-select [formControl]="ProfitsControl" required>-->
<!--          <mat-option>&#45;&#45;</mat-option>-->
<!--          <mat-option *ngFor="let profits of profits" [value]="profit">-->
<!--            {{profits.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--        <mat-error *ngIf="ProfitsControl.hasError('required')">Please choose a kind of profit</mat-error>-->
<!--      </mat-form-field>-->
    </div>
  </div>
</section>
