<section class="wlt-smallMenu">
  <div class="wlt-smallMenu-position">
    <div class="wlt-smallMenu-title">
      <button (click)="moveToPage(navigationEnum.report)"
              [class.active]="activePage === navigationEnum.report">
        <mat-icon>library_books</mat-icon>
      </button>

      <button (click)="moveToPage(navigationEnum.budget)"
              [class.active]="activePage === navigationEnum.budget">
        <mat-icon>add_circle_outline</mat-icon>
      </button>

      <button (click)="moveToPage(navigationEnum.spending)"
              [class.active]="activePage === navigationEnum.spending">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>

      <button (click)="openBigMenu()">
        <mat-icon>view_headline</mat-icon>
      </button>
    </div>
  </div>
</section>
