<section class="wlt-smallMenu">
  <div class="wlt-smallMenu-position">
    <div class="wlt-smallMenu-title">
      <button (click)="openProFileWindow()">
        <mat-icon>person</mat-icon>
      </button>

      <button (click)="openProfitWindow()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>

      <button (click)="openSpendingWindow()">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>

      <button (click)="openReportWindow()" class= active>
        <mat-icon>library_books</mat-icon>
      </button>

      <button (click)="openBigMenu()">
        <mat-icon>view_headline</mat-icon>
      </button>
    </div>
  </div>
</section>
